.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.h2 {
    font-size: 5em;
    margin: 0.2em 30px;
}
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
    gap: 10px;
}
