.overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
  }

  .modalContainer {
    position: relative;
    margin: 15% auto;
    width: 90%;
  }

  .header {
    padding: 20px;
    background-color: rgb(198, 66, 66);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    height: 50px;
    border-radius: 10px 10px 0 0;
  }

  .body {
    background-color: rgb(215, 76, 76);
    padding: 20px;
    font-size: 20px;
    color: white;
  }

  .actions {
    background-color: rgb(215, 76, 76);
    padding: 0px 20px 20px;
    border-radius: 0 0 10px 10px;
  }

  .button {
    font-size: 18px;
    background-color: rgb(198, 66, 66);
    color: white;
    padding: 5px 20px;
    margin: 0 5px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }