.card {
    border: 2px solid rgb(190, 187, 187);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.header {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

svg {
    color: white;
    cursor: pointer;
}
.fav {
    color: gold;
}

.x {
    cursor: pointer;
    margin-bottom: 10px;
   }

   .wrapper {
    display: block;
   }

.listCard {
    display: flex;
    width: 80%;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 10px;
    height: min-content;
    align-items: center;
    padding: 0 20px;
}