
.btn {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: space-around;
  padding: 1rem 1.75rem;
  text-decoration: none;
  // width: 30%;
  border: 0;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  &:hover {
    background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
  }
}

@media (min-width: 768px) {
  .btn {
    padding: 1rem 2rem;
  }
}

.red {
  background-image: linear-gradient(-180deg, #f97979 0%, #eb1e1e 100%);
  &:hover {
    background-image: linear-gradient(-180deg, #d44e30 0%, #9f2a06 100%);
  }
}