.wrapper {
    background-color: rgb(253, 244, 233);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-width: 50%;
    width: min-content;
    border-radius: 5px;
    padding: 0 10px 10px;
}

.error {
    color: red;
    margin-right: auto;
    font-size: 14px;
}

.submit {
    font-size: 20px;
}
